promptflow
promptflow-tools
promptflow-azure-ai-language
azure-ai-documentintelligence==1.0.0b1
azure-ai-formrecognizer==3.3.0
azure-ai-formrecognizer==3.2.0b6
semantic-kernel
azure-ai-textanalytics
azure-identity
azure-ai-translation-text==1.0.0b1